table {height: 250px; width: 100px


}


.one {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.two {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}
.three {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.add {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.four  {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.five {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.six {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.seven {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.eight {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.minus {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.zero {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.times {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.eq {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.clear {width: 150px; height: 100px; background-color: green ; font-size: 30px 
}

.mod {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.nine {width: 150px; height: 100px; background-color: cyan; font-size: 50px 
}

.display {height: 80px; width: 620px; font-size: 50px
}